<!DOCTYPE html>
<html>

    <style>
    /* Set the width of the input element to 200px */
    input[name="action"] {
      width: 400px;
    }
    </style>
    
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <title>Job Description Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // Handle form submission with AJAX
            $('form').submit(function(event) {
                event.preventDefault();
                var job_title = $('#job_title').val();
		var skills = $('#skills').val();
		var duration = $('#duration').val();
                $('#job_description').val('');
                $('#spinner').show();
                $.ajax({
                    url: '/',
                    type: 'POST',
                    data: $('form').serialize(),
                    success: function(response) {
                        $('#job_description').val(response.job_description);
                    },
                    error: function(error) {
                        console.log(error);
                    },
                    complete: function() {
                        $('#spinner').hide();
                    }
                });
            });

	    
	    $('#modify').click(function(event) {
		$('#spinner').show();
		event.preventDefault(); // prevent the default action
		// Call the function using Ajax
		$.ajax({
		    url: '/modify',
		    type: 'POST',
		    data: {'job_description': $('#job_description').val(),
			   'action': $('input[name="action"]').val() },
		    success: function(response) {
			$('#job_description').val(response.job_description);
		    },
		    complete: function() {
                        $('#spinner').hide();
                    }
		});
	    });
        });
    </script>
</head>
<body>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h1 class="text-center mb-4">Job Description Generator</h1>
	
    <form method="post">
        <label for="job_title">Job Title:</label>
        <input type="text" id="job_title" name="job_title">	
	<br>
        <label for="skills">Skills:</label>
	<input type="text" id="skills" name="skills">
	<br>
	<label for="duration">Duration:</label>
	<input type="text" id="duration" name="duration">
        <br>
        <input type="submit" value="Generate Job Description">
    </form>
    <textarea id="job_description" rows="10" cols="50"></textarea>
    <h3>Description modifications</h3>

    <label>This this job description and:</label><br>
    <input list="modifications" name="action">
    <datalist id="modifications">
        <option value="shorten it">
        <option value="lengthen it">
        <option value="make it clear you want real experts">
	<option value="use a bulleted list for key points">
	<option value="make it clear this is an entry level position">
	<option value="make it clear this job is super dangerous">
	<option value="make it less formal">
	<option value="make it more formal">
	<option value="put in style of a pirate">
	<option value="translate it to German">
	<option value="make it more welcoming to diverse candidates">
    </datalist> <br><br>
    <input id="modify" type="submit" value="Modify job description">
    <div id="spinner" class="text-center" style="display: none;">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      
    <br>

    
    </div>
      </div>
    </div>
    
</body>
</html>
